<html ng-app="CollaborativeGraph">
  <head>
    <title>Estimation</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, height=device-height,  minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel='stylesheet' href='css-reset.css' type='text/css'>
    <link rel='stylesheet' href='style.css' type='text/css'>
    <link rel='stylesheet' href='vendor/font-awesome.min.css' type='text/css'>
    <script src="vendor/fastclick.js"></script>
    <script src="vendor/firebase.js"></script>
    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-route.js"></script>
    <script src="vendor/angularfire.min.js"></script>
    <script src='vendor/d3.js'></script>
    <script src='vendor/rickshaw.js'></script>
    <script src='vendor/angular-rickshaw.js'></script><!--modified version of angular-rickshaw-->
    <script src='app.js'></script>
  </head>
  <body>
    <div ng-view></div><!--I'm not actually using this for anything-->
    <div class='viewport yourEstimates'>
        <section ng-controller="InputController" class='page'>
          <form ng-submit="addEstimates();">
            <fieldset>
              <legend>
                <h2>Let's say you have 100 5-man-day tasks to complete.
                How many would actually be completed in:</h2>
              </legend>
              <div class='field'><label><span class='number'>1</span> <span class='unit'>day</span></label><input type="range" ng-model="userEstimates.1" min=0 max=100 /><span class='estimate'>{{userEstimates.1}}</span></div>
              <div class='field'><label><span class='number'>3</span> <span class='unit'>days</span></label><input type="range" ng-model="userEstimates.3" min=0 max=100/><span class='estimate'>{{userEstimates.3}}</span></div>
              <div class='field'><label><span class='number'>5</span> <span class='unit'>days</span></label><input type="range" ng-model="userEstimates.5" min=0 max=100/><span class='estimate'>{{userEstimates.5}}</span></div>
              <div class='field'><label><span class='number'>7</span> <span class='unit'>days</span></label><input type="range" ng-model="userEstimates.7" min=0 max=100/><span class='estimate'>{{userEstimates.7}}</span></div>
              <div class='field'><label><span class='number'>9</span> <span class='unit'>days</span></label><input type="range" ng-model="userEstimates.9" min=0 max=100/><span class='estimate'>{{userEstimates.9}}</span></div>
              <div class='field'><label><span class='number'>11</span> <span class='unit'>days</span></label><input type="range" ng-model="userEstimates.11" min=0 max=100/><span class='estimate'>{{userEstimates.11}}</span></div>
              <div class='field'><label><span class='number'>13</span> <span class='unit'>days</span></label><input type="range" ng-model="userEstimates.13" min=0 max=100/><span class='estimate'>{{userEstimates.13}}</span></div>
              <input type="submit" value="Submit Estimates"/>
            </fieldset>
          </form>
        </section>
        <section ng-controller='GraphController' class='page averageEstimates'>
            <header>
                <h1>Averages</h1>
            </header>
            <section class='graph'>
                <rickshaw
                    rickshaw-options="graph.options"
                    rickshaw-features="graph.features"
                    rickshaw-series="graph.series">
                </rickshaw>
            </section>
        </section>
        <section ng-controller="GraphController" class='page individualEstimates'>
            <ul ng-repeat="estimateSet in estimates" class='estimate'>
                <li>{{estimateSet.from}}:
                    <ul>
                        <li>1 days - # of tasks :{{estimateSet.forDays.1}}</li>
                        <li>3 days - # of tasks :{{estimateSet.forDays.3}}</li>
                        <li>5 days - # of tasks :{{estimateSet.forDays.5}}</li>
                        <li>7 days - # of tasks :{{estimateSet.forDays.7}}</li>
                        <li>9 days - # of tasks :{{estimateSet.forDays.9}}</li>
                        <li>11 days - # of tasks :{{estimateSet.forDays.11}}</li>
                        <li>13 days - # of tasks :{{estimateSet.forDays.13}}</li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>

    <section ng-controller="Pager" class='pager'>
        <nav>
            <button ng-click='yourEstimatesClicked()' class='yourEstimates'>You <i class="fa fa-user"></i></button>
            <button ng-click='averageEstimatesClicked()' class='averageEstimates'>Average <i class="fa fa-signal"></i></button>
            <button ng-click='individualEstimatesClicked()' class='individualEstimates'>Others <i class="fa fa-users"></i></button>
        </nav>
    </section>
  </body>
</html>


