*
    box-sizing border-box
    -moz-user-select none //better mobile experience
    -webkit-user-select none
    -ms-user-select none

    -moz-user-drag none //better mobile experience
    -webkit-user-drag none
    -ms-user-drag none


$pagePadding = 10px
$numberOfPages = 3


/* mixins */

transform()
  transform arguments
  -webkit-transform arguments

animation()
  animation arguments
  -webkit-animation arguments

display_flex()
  display flex
  display -webkit-flex

flex()
  flex arguments
  -webkit-flex arguments

flex_wrap()
  flex-wrap arguments
  -webkit-flex-wrap arguments

justify_content()
  justify-content arguments
  -webkit-justify-content arguments

flex_direction()
  flex-direction arguments
  -webkit-flex-direction arguments

align_items()
  align-items arguments
  -webkit-align-items arguments

/* end mixins */

body, input
   font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
   font-weight 300

h1
    font-size 1.67em

h2
    font-size 1.5em

body

    max-width 100%
    overflow-x hidden

html
  overflow-y hidden


//http://davidbcalhoun.com/2011/implementing-iphone-slider-unlock-with-input-type-range/
input[type='range']
    -webkit-appearance none
    background-color gray


input[type='range']::-webkit-slider-thumb
    -webkit-appearance none
    background-color #444
    width 15px
    height 45px

button
  cursor pointer

.viewport
  width $numberOfPages * 100%
  display_flex()
  overflow-y hidden

  transition: all 0.25s linear

  &.yourEstimates
    transform translateX(0)

    &~.pager
      nav
        button
          &.yourEstimates
            background-color lightblue


  &.individualEstimates
    transform translateX(-100% / $numberOfPages * 2)
    &~.pager
      nav
        button
          &.individualEstimates
            background-color lightblue

  &.averageEstimates
    transform translateX(-100% / $numberOfPages * 1)
    &~.pager
      nav
        button
          &.averageEstimates
            background-color lightblue

.pager
  position fixed
  top 10px
  left 0
  width 100%
  padding-left $pagePadding
  padding-right $pagePadding

  nav
    display_flex()
    justify_content center
    flex_direction row
    width 100%
    margin-bottom 25px


    button
      background rgba(255,255,255,.8)
      border 1px solid black
      height 50px
      font-size 1.3em
      border-left none
      &:nth-child(1)
        border-left 1px solid black


      margin 0

      @media screen and (min-width: 600px) //hover states are buggy on mobile*
          &:hover
            background-color lightblue

      &:active
        background-color lightblue


      &:focus
        outline none

  @media screen and (max-width: 600px)
    bottom 0
    top initial
    margin-bottom 0


fieldset
  border 0

  $unitWidth = 40px
  $numberWidth = 23px

  // input[type="range"]
  //   transform scale(1.5)

  input
      display block
      float left
      display block
  label
      clear left
      display block
      float left
      width $unitWidth + $numberWidth

  legend
    margin-bottom 10px

  .field
    display_flex()
    align_items center

    .unit
      display block
      float right
      width $unitWidth

    .number
      display block
      float left
      width $numberWidth

    .estimate
      display block
      float left

    input[type='submit']
      clear both


.page
  flex 1 1 0
  height 100%
  padding-top 80px
  padding-left:$pagePadding
  padding-right:$pagePadding
  overflow-x hidden
  overflow-y scroll
  -webkit-overflow-scrolling touch


  header
    text-align center
    width 100%


  &.averageEstimates
    .graph
      display_flex()
      justify_content center

  &.individualEstimates
    display_flex()
    flex_wrap wrap
    .estimate
      margin-right 5px
      margin-left 5px
      margin-bottom 20px

    @media screen and (max-width: 600px)
      justify_content center




